<settings>
  <proxies>
    <proxy>
      <id>pdl_http</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy.pdl.cmu.edu</host>
      <port>3128</port>
      <nonProxyHosts>*.cmu.edu</nonProxyHosts>
    </proxy>
    <proxy>
      <id>pdl_https</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>proxy.pdl.cmu.edu</host>
      <port>3128</port>
      <nonProxyHosts>*.cmu.edu</nonProxyHosts>
    </proxy>
 </proxies>
</settings>
